
@font-face {
  font-family: "FontLogo";
  src: url("../fonts/font_logo.ttf");
  src: local("☺"), url("../fonts/font_logo.ttf") format("truetype"), url("../fonts/font_logo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.logo {
	font-family: "FontLogo", sans-serif;
	font-size: 160px;
	color: #ffd211;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
.sub_logo {
	text-transform: uppercase;
	font-size: 34px;
	color: white;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
.user_video{

}
.img_review{
	width: 400px;
	height: 600px;

}
.img_review{
	margin: 0px auto;
}
.container{
	padding-bottom: 10px;
	padding-top: 10px;
}
body, html{
	font-family: "Philosofer", sans-serif;
}

.no-webp #header6-1{
	background: url('../img/main.jpg') 100% 100% / cover no-repeat;

}
.webp #header6-1{
	background: url('../img/webp/main.webp') 100% 100% / cover no-repeat;

}
.black__background{
	position: absolute;
	top: 0;
	left: 0;
	 background-color:rgba(0,0,0,.38);
	 width: 100%;
	 height: 100%;
}
.black__background-little{
	position: absolute;
	top: 0;
	left: 0;
	 background-color:rgba(0,0,0,.15);
	 width: 100%;
	 height: 100%;
}
.no-webp #features3-d{
	/*background: url('../img/back2.jpg') 100% 100% / cover no-repeat;*/
	background: url('../img/back3.jpg') 100% 100% / cover no-repeat;
}
.no-webp #features3-e{
	/*background: url('../img/back2.jpg') 100% 100% / cover no-repeat;*/
	background: url('../img/back4.jpg') 100% 100% / cover no-repeat;
}
.no-webp #testimonials-slider1-9{
	/*background: url('../img/back2.jpg') 100% 100% / cover no-repeat;*/
	background: url('../img/back3.jpg') 100% 100% / cover no-repeat;
}
.no-webp #team2-p{
	/*background: url('../img/back2.jpg') 100% 100% / cover no-repeat;*/
	background: url('../img/back4.jpg') 100% 100% / cover no-repeat;
}
.no-webp #form1-11{
	/*background: url('../img/back2.jpg') 100% 100% / cover no-repeat;*/
	background: url('../img/back3.jpg') 100% 100% / cover no-repeat;
}

.webp #features3-d{
	background: url('../img/webp/back3.webp') 100% 100% / cover no-repeat;
}
.webp #features3-e{
	background: url('../img/webp/back4.webp') 100% 100% / cover no-repeat;
}
.webp #testimonials-slider1-9{
	background: url('../img/webp/back3.webp') 100% 100% / cover no-repeat;
}
.webp #team2-p{
	background: url('../img/webp/back4.webp') 100% 100% / cover no-repeat;
}
.webp #form1-11{
	background: url('../img/webp/back3.webp') 100% 100% / cover no-repeat;
}

@media (max-width: 525px){
	.logo {
	font-family: "FontLogo", sans-serif;
	font-size: 85px;
	color: #ffd211;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	}
	.sub_logo h2{
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	}
	.user_video{
		margin: 0 auto;
		width: 240px;
		height: 450px;
	}
	.img_review{
	width: 240px;
	height: 450px;
	margin: 0px auto;
}

}
.img_review img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.card-box p{
	margin: 0 auto;
	color: yellow;
}

@media (max-width: 310px){
	.logo {
	font-family: "FontLogo", sans-serif;
	font-size: 50px;
	color: #ffd211;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	}
	.sub_logo h2{
	text-transform: uppercase;
	font-size: 15px;
	color: white;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	}
}